@import "tailwindcss";
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

/* HLJS Overrides */
.hljs {
  background: #141414 !important;
  color: #E4E3E0 !important;
  padding: 0 !important;
}

pre:has(.hljs) {
  background: #141414 !important;
  border-color: #141414 !important;
}
